@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --background-primary-light: 210 100% 95%; /* Very Light Blue */
    --foreground: 0 0% 13%; /* Dark Gray */
    --card: 0 0% 96%; /* Light Gray */
    --card-foreground: 0 0% 13%; /* Dark Gray */
    --popover: 0 0% 100%; /* White */
    --popover-foreground: 0 0% 13%; /* Dark Gray */
    --primary-light: 210 100% 60%; /* Lighter Blue */
    --primary-dark: 210 100% 40%; /* Darker Blue */
    --secondary-light: 210 9% 56%; /* Lighter Gray */
    --secondary-dark: 210 9% 36%; /* Darker Gray */
    --primary: 210 100% 50%; /* Blue */
    --primary-hover: 210 100% 60%; /* Lighter Blue */
    --secondary: 210 9% 46%; /* Gray */
    --secondary-hover: 210 9% 56%; /* Lighter Gray */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 210 9% 46%; /* Gray */
    --secondary-foreground: 0 0% 100%; /* White */
    --muted: 210 17% 92%; /* Light Gray */
    --muted-foreground: 210 9% 46%; /* Gray */
    --accent: 45 100% 50%; /* Yellow */
    --accent-foreground: 0 0% 13%; /* Dark Gray */
    --destructive: 354 77% 54%; /* Red */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 210 16% 85%; /* Light Gray */
    --input: 0 0% 100%; /* White */
    --ring: 210 100% 50%; /* Blue */
    --chart-1: 210 100% 50%; /* Blue */
    --chart-2: 120 61% 41%; /* Green */
    --chart-3: 45 100% 50%; /* Yellow */
    --chart-4: 354 77% 54%; /* Red */
    --chart-5: 210 9% 46%; /* Gray */
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 13%; /* Dark Gray */
    --foreground: 0 0% 100%; /* White */
    --card: 0 0% 18%; /* Darker Gray */
    --card-foreground: 0 0% 100%; /* White */
    --popover: 0 0% 18%; /* Darker Gray */
    --popover-foreground: 0 0% 100%; /* White */
    --primary: 210 100% 50%; /* Blue */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 210 9% 46%; /* Gray */
    --secondary-foreground: 0 0% 100%; /* White */
    --muted: 210 9% 31%; /* Dark Gray */
    --muted-foreground: 210 17% 92%; /* Light Gray */
    --accent: 45 100% 50%; /* Yellow */
    --accent-foreground: 0 0% 13%; /* Dark Gray */
    --destructive: 354 77% 54%; /* Red */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 210 9% 31%; /* Dark Gray */
    --input: 0 0% 18%; /* Darker Gray */
    --ring: 210 100% 50%; /* Blue */
    --chart-1: 210 100% 50%; /* Blue */
    --chart-2: 120 61% 41%; /* Green */
    --chart-3: 45 100% 50%; /* Yellow */
    --chart-4: 354 77% 54%; /* Red */
    --chart-5: 210 9% 46%; /* Gray */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
